<table class="ActivityTable">
	<tr>
		<td> Department Name </td>
		<td> Department Members </td>
	</tr>
	<% @departments.each do |d| %>
		<tr>
			<td> <%= link_to d.dept_name, department_path(d.id) %> </td>
			<td> 
				<% all_u = d.users.collect{|u| u.username}.join(", ") %>
				<%= all_u %>
			</td>
		</tr>	
	<% end %>
</table>
